<configuration>

    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <!-- Programs should use System.err for any logs so that they can be used in Unix style pipes. -->
        <target>System.err</target>
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDERR" />
    </root>
</configuration>
